.timchart-container {
    width: 100%;
    min-height: 100vh;

    .timechart-selector {
        padding-top: 10px;
        box-shadow: 0 -2px 4px black;
        position: sticky;
        bottom: 0; 
        background-color: white;
    }

    .timechart-preview{
        display: flex;
        justify-content: center;
    }
}