$grey-1: #0a0a0a;
$grey-2: #212121;
$grey-3: #484848;

$green-1: #75a478;
$green-2: #a5d6a7;
$green-3: #d7ffd9;

$deep-orange-1: #9f0000;
$deep-orange-2: #d84315;
$deep-orange-3: #ff7543;

$blue-1: #9499b7;
$blue-2: #c5cae9;
$blue-3: #f8fdff;